// compileExpanded

$bg-color: #F6F6F6;
$primary-color: #0C88F7;
$transition-duration: 0.1s;

* {
	box-sizing: border-box;
}

body {
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	max-width: 35rem;
	padding: 1em;
	margin: 0 auto;
	background-color: $bg-color;
}

// Typographic scale
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}
h1 {font-size: 2.441em;}
h2 {font-size: 1.953em;}
h3 {font-size: 1.563em;}
h4 {font-size: 1.25em;}
small, .font-small {font-size: 0.8em;}

// Links coloring
a:link {
	color: $primary-color;
}

.button {
	padding: 0.2em 0.5em;
}

.hidden {
	opacity: 0;
	transform: translate(0, -1rem);
}


.info, .results {
	transition: opacity $transition-duration, transform $transition-duration;
}


.search-form {
	margin-top: 3rem;

	&__input {
		width: 100%;
		padding: 1em;
		margin: 0.5em 0;
	}
}

.info {
	margin-top: 2rem;
}

.results {

	&__item {
		margin: 2rem 0;
	}
}

.primary-footer {
	padding: 2rem 0;
	clear: both;
}
